<h1>Welcome to John Meyer's IT122 Page</h1>
<p>This is just the start</p>
<p>Check out my <a href="about">about page</a> for more!</p>
<h3>Here is my list of cars</h3>
<ul>
{{#each vehicles}}
    <li><a href="/detail?model={{model}}">{{model}}</a></li>
{{/each}} 
</ul>